@charset "utf-8";

/*視窗底色設定*/
body{

	background-image:url(img/4656453153.jpg);
	background-size:50% 120%;
}

/*連結顏色設定*/
a{
	color:#33FFFF;
}

a:hover{
	color:#FF00FF;
}



/*頁面標題設定*/
h1{
	color:#FF0088;
	text-align:center;
	padding-top:20px;
	font-size:350%;
}


/*內容標題設定*/
h2{
	color:#000000;
	text-align:center;
	border:#94c8b1 1px dotted;
	border-left: #d0e35b 10px solid;
	border-right: #d0e35b 10px solid;
	padding: 5px 20px;
	margin-bottom:0;
}

h3{
	color:#000000;
	text-align:center-left;
}

 
 

/*引言區塊設定*/


/*「更多介紹」連結設定*/


/*花色、性別(共通資料)


/*依性別區分顏色*/

