@charset "utf-8";

body{

	background-image:url(img/4656453153.jpg);
	background-size:50% 120%;
}

a{
	color:#33FFFF;
}
a:hover{
	color:#FF00FF;
}

h1{
	color:#FF0088;
	text-align:center;
	padding-top:20px;
	font-size:350%;
}

h2{
	color:#000000;
	text-align:center;
	border:#94c8b1 1px dotted;
	border-left: #d0e35b 10px solid;
	border-right: #d0e35b 10px solid;
	padding: 5px 20px;
	margin-bottom:0;
}

h3{
	color:#000000;
	text-align:center-left;
}

 
 
