
body{

	background-image:url(img/Rfb123.jpg);
	background-size:cover;
}

h1{
	color:#000;
	text-align:center;
	padding-top:20px;
	font-size:300%;
}

h2{
	color:#000;
	text-align:center;
    padding: 5px 20px;
	font-size:150%;
}


a{
	color:#33FFFF;
}

a:hover{
	color:#FF00FF;
}

 table{
	 width:60%;
	 border:#000 2px solid;
	 text-align:center;
	 border-collapse:collapse;
 }
 
 th,
 td{
	 padding:5px;
	 border:#000 2px solid;
	 text-align:center;
 }
